$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

@import 'sass-bootstrap/lib/bootstrap';

.info-list {
    float: right;

}

.slider {
    clear: both;
    float: left;
    width: 300px;
    height: 300px;
}